<?xml version="1.0" ?>
<model>
    <name>WarehouseFloor</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Jyoti Panda</name>
        <email>jyoti.panda@mail.utoronto.ca</email>
    </author>
    <description>Basic Warehouse Floor</description>
</model>
