<launch>
  <!-- Define robot location in world -->
  <arg name="model" default="freight"/>
  <arg name="x_pos" default="3.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.2"/>

  <!-- Launch the warehouse envirnonment -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find freight_gazebo)/worlds/warehouse.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Get the robot URDF file and launch it -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find freight_description)/urdf/robot_$(arg model).urdf.xacro" />

  <!-- Spawn robot at predefined location-->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model robot_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>
